<tr>
  <td>
    <div class="col-12 d-flex justify-content-center">
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          name="name"
          placeholder="username"
        />
      </div>
    </div>
  </td>
  <td>
    <div class="col-12 d-flex justify-content-center">
      <div class="col-8">
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="password"
          hx-post="/dashboard/add-admin"
          hx-include="closest tr"
          hx-target="#tbody"
          hx-trigger="[enterKey]"
        />
      </div>
    </div>
  </td>
  <td>
    <div class="col-12 d-flex justify-content-center">
      <button
        class="btn btn-outline-success"
        hx-post="/dashboard/add-admin"
        hx-include="closest tr"
        hx-target="#tbody"
      >
        <i class="bi bi-sd-card"></i>
      </button>
      <button
        class="btn mx-2 btn-danger"
        hx-post="/dashboard/res/table-admin"
        hx-target="#tbody"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </td>
</tr>
