<tr>
  <td style="padding-top: 15px"><%- item.name %></td>
  <td class="col-4">
    <input
      type="password"
      class="form-control"
      style="background-color: transparent"
      value="<%- item.password %>"
      readonly
      disabled
    />
  </td>
  <td>
    <div class="col-12 d-flex justify-content-center">
      <button
        class="btn btn-outline-success"
        hx-post="/dashboard/res/edit-admin/<%- item.userID %> "
        hx-target="closest tr"
        hx-swap="outerHTML"
      >
        <i class="bi bi-pencil-square"></i>
      </button>
      <button
        class="btn mx-2 btn-danger"
        hx-delete="/dashboard/delete-admin/<%- item.userID %> "
        hx-target="#tbody"
        hx-confirm="yakin ingin menghapus <%- item.name %> "
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </td>
</tr>
