<header
  id="header"
  class="header col-12 fixed-top d-flex justify-content-between align-items-center"
>
  <div class="d-flex align-items-center justify-content-between">
    <a
      hx-post="/dashboard/-dashboard"
      hx-target="#main"
      class="logo d-flex align-items-center"
    >
      <img src="/assets/img/logo.png" alt="" />
      <span>Onegai</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div>
  <button
    type="button"
    class="btn btn-lg btn-outline-dark p-2 m-2"
    onclick="window.open('https:\/\/github.com\/harakun24\/onegai')"
  >
    <i class="bi bi-github me-1"></i> | Github
  </button>
  <!-- End Logo -->
</header>
