<!-- @format -->

<header
  id="header"
  class="header col-12 fixed-top d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a
      hx-get="/dashboard/dashboard"
      hx-target="#main"
      hx-push-url="true"
      hx-headers='{"mode":"tab"}'
      class="logo d-flex align-items-center">
      <!-- <img src="/assets/img/logo.png" alt="" /> -->
      <!-- <i class="bi bi-keyboard" style="font-size: 200%"></i> -->
      <span>Onegai</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div>
  <button
    type="button"
    class="btn btn-sm btn-outline-dark p-2 m-2"
    onclick="window.open('https:\/\/github.com\/harakun24\/onegai')">
    <i class="bi bi-github me-1"></i> | Github
  </button>
  <!-- End Logo -->
</header>
