<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link collapsed"
        hx-get="/dashboard/dashboard"
        hx-headers='{"mode":"tab"}'
        hx-target="#main"
        hx-push-url="true">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#tables-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-layout-text-window-reverse"></i><span>Data</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="tables-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a
            hx-get="/dashboard/admin"
            hx-headers='{"mode":"tab"}''
            hx-target="#main"
            hx-push-url="true"
          >
            <i class="bi bi-circle"></i><span>Admin Manager</span>
          </a>
        </li>
        <li>
          <a hx-get="/dashboard/kategori" hx-target="#main" hx-push-url="true" 
          hx-headers='{"mode":"tab"}'
          >
            <i class="bi bi-circle"></i><span>Kategori</span>
          </a>
        </li>
        <li>
          <a
            hx-get="/dashboard/subkategori"
            hx-target="#main"
            hx-push-url="true"
          hx-headers='{"mode":"tab"}'
          >
            <i class="bi bi-circle"></i><span>Subkategori</span>
          </a>
        </li>
        <li>
          <a
            hx-get="/dashboard/divisi"
            hx-target="#main"
            hx-push-url="true"
          hx-headers='{"mode":"tab"}'
          >
            <i class="bi bi-circle"></i><span>Divisi</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Tables Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#charts-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-bar-chart"></i><span>Charts</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="charts-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="charts-chartjs.html">
            <i class="bi bi-circle"></i><span>Chart.js</span>
          </a>
        </li>
        <li>
          <a href="charts-apexcharts.html">
            <i class="bi bi-circle"></i><span>ApexCharts</span>
          </a>
        </li>
        <li>
          <a href="charts-echarts.html">
            <i class="bi bi-circle"></i><span>ECharts</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Charts Nav -->

    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="bi bi-power"></i>
        <span>Charts</span>
      </a>
    </li>
  </ul>
</aside>
