<!-- @format -->

<tr>
  <td>
    <div class="col-12 d-flex justify-content-center">
      <div class="col-8">#<%- data.id_sub %></div>
    </div>
  </td>
  <td class="col-6">
    <div class="col-12 d-flex justify-content-center">
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          name="nama_sub"
          placeholder="subkategori"
          hx-put="/dashboard/subkategori/update-content/<%- data.id_sub %> "
          hx-include="closest tr"
          hx-target="closest tr"
          hx-trigger="[enterKey]"
          hx-swap="outerHTML"
          value="<%- data.nama_sub %>" />
      </div>
    </div>
  </td>
  <td>
    <div class="col-12 d-flex justify-content-center">
      <button
        class="btn btn-outline-success"
        hx-put="/dashboard/subkategori/update-content/<%- data.id_sub %> "
        hx-include="closest tr"
        hx-swap="outerHTML"
        hx-target="closest tr">
        <i class="bi bi-sd-card"></i>
      </button>
      <button
        class="btn mx-2 btn-outline-danger"
        hx-get="/dashboard/subkategori/-row-content/<%- data.id_sub %> "
        hx-target="closest tr"
        hx-swap="outerHTML">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </td>
</tr>
