<table class="mt-4 table table-bordered border-primary datatable">
  <thead class="thead-dark">
    <tr>
      <th style="padding-top: 10px; padding-bottom: 10px">username</th>
      <th>password</th>
      <th>aksi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="col-12 d-flex justify-content-center">
          <div class="col-8">
            <input
              class="form-control"
              type="text"
              name="name"
              placeholder="username"
            />
          </div>
        </div>
      </td>
      <td>
        <div class="col-12 d-flex justify-content-center">
          <div class="col-8">
            <input
              class="form-control"
              type="password"
              name="password"
              placeholder="password"
              required="required"
              hx-post="/dashboard/add-admin"
              hx-include="closest tr"
              hx-target="#tbody"
              hx-trigger="[enterKey]"
            />
          </div>
        </div>
      </td>
      <td>
        <div class="col-12 d-flex justify-content-center">
          <button
            class="btn btn-outline-success"
            hx-post="/dashboard/add-admin"
            hx-include="closest tr"
            hx-target="#tbody"
          >
            <i class="bi bi-sd-card"></i>
          </button>
          <button
            class="btn mx-2 btn-outline-danger"
            hx-post="/dashboard/-table-admin"
            hx-target="#tbody"
          >
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </td>
    </tr>
    <% if(locals.list && locals.list.length>0) { %>
    <!--  -->

    <% list.forEach(item=> {%>
    <!-- <tr
        hx-post="/dashboard/-row-admin/<%- item.userID %> "
        hx-trigger="load"
        hx-swap="outerHTML"
      >
        <td colspan="3">memuat...</td>
      </tr>
      -->
    <%- include("row-content.html",{item}) %> <%})%> <% } else{ %>
    <!--  -->
    <% } %>
  </tbody>
</table>
<div class="col-12 table-responsive">
  <%- include("pagination-content.html",{count}) %>
</div>
