<tr>
  <td>
    <div class="col-12 d-flex justify-content-center">
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          name="name"
          placeholder="username"
          hx-put="/dashboard/update-admin/<%- data.userID %> "
          hx-include="closest tr"
          hx-target="closest tr"
          hx-trigger="keyup[enterKey]"
          hx-swap="outerHTML"
          value="<%- data.name %>"
        />
      </div>
    </div>
  </td>
  <td>
    <div class="col-12 d-flex justify-content-center">
      <div class="col-8">
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="password"
          hx-put="/dashboard/update-admin/<%- data.userID %> "
          hx-include="closest tr"
          hx-target="closest tr"
          hx-trigger="keyup[enterKey]"
          hx-swap="outerHTML"
          value="<%- data.password %>"
        />
      </div>
    </div>
  </td>
  <td>
    <div class="col-12 d-flex justify-content-center">
      <button
        class="btn btn-outline-success"
        hx-put="/dashboard/update-admin/<%- data.userID %> "
        hx-include="closest tr"
        hx-swap="outerHTML"
        hx-target="closest tr"
      >
        <i class="bi bi-sd-card"></i>
      </button>
      <button
        class="btn mx-2 btn-outline-danger"
        hx-post="/dashboard/-row-admin/<%- data.userID %> "
        hx-target="closest tr"
        hx-swap="outerHTML"
      >
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </td>
</tr>
