<!-- @format -->

<table class="mt-4 table table-bordered border-primary datatable">
  <thead class="thead-dark">
    <tr>
      <th style="padding-top: 10px; padding-bottom: 10px">username</th>
      <th>password</th>
      <th>aksi</th>
    </tr>
  </thead>
  <tbody>
    <% if(locals.list && locals.list.length>0) { %>
    <!--  -->

    <% list.forEach(item=> {%>
    <!--  -->
    <%- include("row-content.html",{item}) %> <%})%> <% } else{ %>
    <!--  -->
    <tr>
      <td colspan="3">data kosong</td>
    </tr>
    <% } %>
  </tbody>
</table>
<div class="col-12 table-responsive">
  <%- include("pagination-content.html",{count,current}) %>
</div>
