<!-- @format -->

<tr>
  <td style="padding-top: 15px"><b>#<%- item.id_divisi %></b></td>
  <td class="col-4"><%- item.nama_divisi %></td>
  <td>
    <div class="col-12 d-flex justify-content-center">
      <button
        class="btn btn-outline-success"
        hx-get="/dashboard/divisi/-edit-content/<%- item.id_divisi %> "
        hx-target="closest tr"
        hx-swap="outerHTML">
        <i class="bi bi-pencil-square"></i>
      </button>
      <button
        class="btn mx-2 btn-danger"
        hx-delete="/dashboard/divisi/delete-content/<%- item.id_divisi %> "
        hx-target="#tbody"
        hx-confirm="yakin ingin menghapus <%- item.nama_divisi %> ">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </td>
</tr>
