<!-- <section class="section"> -->
<!-- <div class="row"> -->
<div class="col-lg-12" id="admin">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Admin Manager &nbsp;
        <button
          hx-post="/dashboard/-admin"
          hx-trigger="click"
          hx-swap="outerHTML"
          hx-target="#admin"
          class="rounded-pill btn btn-warning"
        >
          <i class="bi ann-real bi-arrow-clockwise"></i>
        </button>
      </h5>
      <div class="col-12 d-flex">
        <div class="col-md-6 col-sm-8 d-flex">
          <button
            class="btn btn-primary"
            hx-post="/dashboard/-add-admin"
            hx-target="#tbody"
            ;
          >
            <i class="bi bi-person-plus"></i>
            <span class="d-none d-md-inline-block"> tambah</span></button
          >&nbsp;
          <div class="pl-2">
            <select
              class="form-select"
              name="limit"
              hx-post="/dashboard/-limit-admin"
              hx-target="#tbody"
              id=""
            >
              <option value="5">5 data</option>
              <option value="10">10 data</option>
              <option value="20">20 data</option>
              <option value="50">50 data</option>
            </select>
          </div>
          <div
            class="form-group col-sm-6 col-md-5 px-1"
            hx-post="/dashboard/-search-admin"
            hx-trigger="click"
            hx-target="#tbody"
          >
            <input
              type="search"
              name="name"
              placeholder="cari admin..."
              class="form-control"
              hx-post="/dashboard/-search-admin"
              hx-trigger="keyup change"
              hx-target="#tbody"
            />
          </div>
        </div>
        <div class="col-md-6 col-sm-4 d-flex justify-content-end">
          <button
            class="btn btn-outline-danger"
            hx-confirm="anda yakin ingin mengosongkan data?"
            hx-delete="/dashboard/delete-admin-all"
            hx-target="#tbody"
          >
            <i class="bi bi-trash"></i>
            <span class="d-none d-md-inline-block"> kosongkan</span>
          </button>
        </div>
      </div>
      <div class="col-12 text-center">
        <div
          class="table-responsive"
          id="tbody"
          hx-post="/dashboard/-table-admin"
          hx-trigger="load"
        >
          <table class="mt-4 table table-bordered border-primary datatable">
            <thead class="thead-dark">
              <tr>
                <th style="padding-top: 10px; padding-bottom: 10px">
                  username
                </th>
                <th>password</th>
                <th>aksi</th>
              </tr>
            </thead>
            <tbody
              id="tbody"
              hx-post="/dashboard/-table-admin"
              hx-trigger="load"
            >
              <tr>
                <td colspan="3">memuat data...</td>
              </tr>
            </tbody>
          </table>
          <div class="col-12 table-responsive">
            <p hx-post="/dashboard/-page-admin" hx-trigger="load"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </section> -->
