<!-- <section class="section"> -->
<!-- <div class="row"> -->
<div class="col-lg-12" id="kategori">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title d-flex align-items-center">
        Subkategori Manager &nbsp;
        <button
          hx-get="/dashboard/subkategori/-content"
          hx-trigger="click"
          hx-swap="outerHTML"
          hx-target="#kategori"
          class="rounded-pill btn btn-warning"
        >
          <i class="bi ann-real bi-arrow-clockwise"></i>
        </button>
        <div
          class="col-2 px-2"
          hx-get="/dashboard/subkategori/-kategori"
          hx-trigger="load"
          hx-target="#kat"
        >
          <select
            id="kat"
            class="form-select"
            name="kategori"
            hx-get="/dashboard/subkategori/-switch"
            hx-target="#tbody"
          >
            <option>--pilih kategori--</option>
          </select>
        </div>
      </h5>
      <div class="col-12 d-flex">
        <div class="col-md-6 col-sm-8 d-flex">
          <button
            class="btn btn-primary"
            hx-get="/dashboard/subkategori/-add-content"
            hx-target="#tbody"
          >
            <i class="bi bi-person-plus"></i>
            <span class="d-none d-md-inline-block"> tambah</span></button
          >&nbsp;
          <div class="pl-2">
            <select
              class="form-select"
              name="limit"
              hx-get="/dashboard/subkategori/-limit-content"
              hx-target="#tbody"
            >
              <option value="3">3 data</option>
              <option value="5" selected>5 data</option>
              <option value="7">7 data</option>
              <option value="10">10 data</option>
              <option value="20">20 data</option>
            </select>
          </div>
          <div
            class="form-group col-sm-6 col-md-5 px-1"
            hx-get="/dashboard/subkategori/-search-content"
            hx-trigger="click delay:300ms"
            hx-target="#tbody"
            hx-include="#search"
          >
            <input
              id="search"
              type="search"
              name="name"
              placeholder="cari..."
              class="form-control"
              hx-get="/dashboard/subkategori/-search-content"
              hx-trigger="keyup changed"
              hx-target="#tbody"
            />
          </div>
        </div>
        <div class="col-md-6 col-sm-4 d-flex justify-content-end">
          <button
            class="btn btn-outline-danger"
            hx-confirm="anda yakin ingin mengosongkan data?"
            hx-delete="/dashboard/subkategori/delete-content-all"
            hx-target="#tbody"
          >
            <i class="bi bi-trash"></i>
            <span class="d-none d-md-inline-block"> kosongkan</span>
          </button>
        </div>
      </div>
      <div class="col-12 text-center">
        <div
          class="table-responsive"
          id="tbody"
          hx-get="/dashboard/subkategori/-table-content"
          hx-trigger="load"
        >
          <table class="mt-4 table table-bordered border-primary datatable">
            <thead class="thead-dark">
              <tr>
                <th style="padding-top: 10px; padding-bottom: 10px">id</th>
                <th>subkategori</th>
                <th>aksi</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="3">memuat data...</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </section> -->
